{% extends "base.html.twig" %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="about_section layout_padding" style="background-color: white; margin: 20px 0 0 0">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6">
             <div class="about_taital_main">
                <h1 class="about_taital">About Us</h1>
                <p class="about_text">There are many variations of passages of Lorem Ipsum available, but the majority
                   have suffered alteration in some form, by injected humour, or randomised words which don't look
                   even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                   there isn't anything embarrassing hidden in the middle of text. All </p>
                <div class="readmore_bt"><a href="#">Read More</a></div>
             </div>
          </div>
          <div class="col-md-6 padding_right_0">
             <div><img src="images/about-img.png" class="about_img"></div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}