{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <div class="services_section layout_padding">
        <div class="container">
            <h1 class="services_taital">Services </h1>
            <p class="services_text">There are many variations of passages of Lorem Ipsum available, but the majority have
                suffered alteration</p>
            <div class="services_section_2">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('images/img-1.png') }}" class="services_img">
                        </div>
                        <div class="btn_main">
                            <a href="#">Rafting</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('images/img-2.png') }}" class="services_img">
                        </div>
                        <div class="btn_main active">
                            <a href="#">Hiking</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('images/img-3.png') }}" class="services_img">
                        </div>
                        <div class="btn_main">
                            <a href="#">Camping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>











<h1>Book index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Published_at</th>
            <th>ISBN</th>
            <th>Language</th>
            <th>Cover</th>
            <th>Pages</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.subtitle }}</td>
            <td>{{ book.publishedAt ? book.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.language }}</td>
            <td>{{ book.cover }}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.description }}</td>
            <td>
                <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}